.card {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.preview {
    margin-top: 49px;
}

.bg-info {
    background-color: #76C5C1 !important;
}

#canvas-three {
    cursor: move;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.card {
    width: 30%; 
    height: 100%;
    z-index: 1000; 
    position: fixed;
    right: 0;
    margin-top: -10px;
    background-color: #49505a
}

.card .list-group-item {
    cursor: pointer
}

.card i {
    cursor: pointer; 
    font-size: 20px; 
    color: #828282
}

.card .head1 {
    background-color: #6E7886;
    font-size: 18px;
    color: white 
}

.card .head2 {
    background-color: #6e7886;
    color: white;
    border-bottom: #484d53 solid 1px;
}

.gallery
{
    margin-top: 20px;
    max-height: 500px;
    overflow-y: hidden;
    .text-muted {
        font-size: 0.9em;
        color: white !important
    }

    .thumbnail {
        cursor: pointer
    }

    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }
    
    .thumbnail img {
        width: 100%;
        height: 162px;
        border-radius: 5px !important;
    }
}