<div class="section">
    <div #card class="card">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action head1">
                <div style="font-family: Brush Script MT, Brush Script Std, cursive; font-size: 35px;">DJewelry</div> 
            </li>
            <li class="list-group-item list-group-item-action head2">
                Selecciona un objeto
            </li>
            <li *ngFor="let object of objects" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" (click)="loadObjectScene(object)">
                {{object.name}}
                <i class="fa fa-eye badge-pill"></i>
            </li>
        </ul>
        <br>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-default jewelry-circle-button" (click)="ok()"><span class="jewelry-circle-greater-than">OK</span></button>
        </div>
    </div>
    <div #canvasThree id="canvas-three" style="background-color: #828282"></div>  
</div>
<div *ngIf="loading" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #64bdb8f5; z-index: 1000;">
    <div style="height:100vh; display:flex; align-items:center; justify-content:center; color: white">
        <i class="fa fa-diamond" style="font-size: 6em;"></i> 
        <p style="position: absolute; margin-top: 70px;">Cargando...</p>
    </div>
</div>