.ptb-50{
  margin-top: 60px;
  padding: 50px 50px;
}

.section_bg_gray {
  background-image: url('https://cdn.wallpapersafari.com/49/83/CIYBXp.jpg');
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.single_what_we_do {
  background-color: #ffffff;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.single_what_we_do:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_what_we_do .top_line {
  position: absolute;
  top: 0;
  left: 44%;
  background-color: #64BDB8;
  width: 12%;
  height: 3px;
}

.single_what_we_do .what_we_do_figure {
  padding: 40px 0;
}
.single_what_we_do .what_we_do_figure img {
  margin: 0 auto;
}
.single_what_we_do .what_we_do_title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 35px;
  margin: 0;
  color: #2b353a;
}
.single_what_we_do .what_we_do_content {
  padding-bottom: 65px;
  color: #2b353a;
}
.single_what_we_do .what_we_do_icon {
  position: absolute;
  bottom: 18px;
  left: 47%;
  color: #fff;
  background-color: #64BDB8;
  width: 30px;
  height: 30px; 
  text-align: center;
  border-radius: 50% !important; 
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single_what_we_do .what_we_do_icon i {
  font-size: 24px;
  text-align: center;
  padding: 2px 3px 2px 5px;
}