<div class="section_bg_gray">
    <div class="container" style="">
        <div class="row">
            <div class="col-md-12">
                <div class="ptb-50">
                    <h2 class="text-center">Elige la joya que deseas personalizar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <i class="fa fa-diamond" style="font-size: 4em; color: #64BDB8" aria-hidden="true"></i>
                    </div>
                    <h4 class="what_we_do_title">Anillo</h4>
                    <div class="what_we_do_content">Personaliza y diseña con nosotros el anillo perfecto para la ocasion</div>
                    <a class="what_we_do_icon" href="/lab/1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <i class="fa fa-diamond" style="font-size: 4em; color: #64BDB8" aria-hidden="true"></i>
                    </div>
                    <h4 class="what_we_do_title">Pulsera</h4>
                    <div class="what_we_do_content">Personaliza y diseña con nosotros la pulsera perfecto para la ocasion</div>
                    <a class="what_we_do_icon" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <i class="fa fa-diamond" style="font-size: 4em; color: #64BDB8" aria-hidden="true"></i>
                    </div>
                    <h4 class="what_we_do_title">Arete</h4>
                    <div class="what_we_do_content">Personaliza y diseña con nosotros los aretes perfecto para la ocasion</div>
                    <a class="what_we_do_icon" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>